<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Company</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  
  
  
  <context-param>
    <param-name>server_msg</param-name>
    <param-value>Server Error</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>servlets.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ManagerHome</servlet-name>
    <servlet-class>servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerHome</servlet-name>
    <url-pattern>/managerhome</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TeamLeaderHome</servlet-name>
    <servlet-class>servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamLeaderHome</servlet-name>
    <url-pattern>/teamleaderhome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeveloperHome</servlet-name>
    <servlet-class>servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeveloperHome</servlet-name>
    <url-pattern>/developerhome</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>showDevelopers</servlet-name>
  	<servlet-class>servlets.Developers</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>showDevelopers</servlet-name>
  	<url-pattern>/developers</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>showTasks</servlet-name>
  	<servlet-class>servlets.Tasks</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>showTasks</servlet-name>
  	<url-pattern>/tasks</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>addUser</servlet-name>
  	<servlet-class>servlets.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addUser</servlet-name>
  	<url-pattern>/adduser</url-pattern>
  </servlet-mapping>

  
  <servlet>
  	<servlet-name>addTask</servlet-name>
  	<servlet-class>servlets.AddTask</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addTask</servlet-name>
  	<url-pattern>/addtask</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>taskDetails</servlet-name>
  	<jsp-file>/views/taskDetails.jsp</jsp-file>
  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>taskDetails</servlet-name>
  	<url-pattern>/task</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>State</servlet-name>
  	<servlet-class>servlets.TaskState</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>State</servlet-name>
  	<url-pattern>/state</url-pattern>
  </servlet-mapping>
</web-app>